@model TrafficManagerWebAppSqlDbHaDr.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h3>WebApp: @Model.WebApp</h3>
<h3>First Movie Title: @Model.FirstMovieTitle</h3>
<h3>Sql Server: @Model.SqlServer</h3>